html{
position: relative;
width: 1366px;
height: 1802px;

background: #FFFFFF;}
.11{
position: absolute;
width: 159px;
height: 146px;
left: 62px;
top: 0px;

background: url(BlackLogo);}
.stripe{
position: absolute;
width: 121px;
height: 0px;
left: 627px;
top: 70px;

border: 3px #FFA800;}

.head-001{
position: absolute;
width: 1366px;
height: 55px;
left: 50px;
top: 100px;

background: url(ripped 6.png);
opacity: 100%;
}

.head-1{
position: absolute;
width: 46px;
height: 24px;
left: 305px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #060606;
}
.head-2{
position: absolute;
width: 130px;
height: 24px;
left: 436px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #060606;
}
.head-3{
position: absolute;
width: 120px;
height: 24px;
left: 643px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #060606;

}
.head-4{
position: absolute;
width: 123px;
height: 45px;
left: 858px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #060606;
}
.head-5{
position: absolute;
width: 153px;
height: 45px;
left: 1056px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #060606;
}
.head-7{
position: absolute;
width: 29px;
height: 29px;
left: 1275px;
top: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #060606;
}
.title-bus{

position: absolute;
width: 408px;
height: 70px;
left: 580px;
top: 205px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: center;
text-align: center;

color: #2F4858;}
.text-bus{position: absolute;
width: 810px;
height: 49px;
left: 300px;
top: 335px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #2F4858;
}
.form-1{
position: absolute;
width: 820px;
height: 48px;
left: 300px;
top: 534px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
text-align: center;

color: #2F4858;
}
#fname{
position: absolute;
width: 295px;
height: 44px;
left: 400px;
top: 642px;

background: rgba(196, 196, 196, 0.4);
border-radius: 6px;
}
#e-mail{position: absolute;
width: 296px;
height: 44px;
left: 719px;
top: 642px;

background: rgba(196, 196, 196, 0.4);
border-radius: 6px;
}
#business{
position: absolute;
width: 612px;
height: 43px;
left: 400px;
top: 701px;

background: rgba(196, 196, 196, 0.4);
border-radius: 6px;
}
#phone{
position: absolute;
width: 612px;
height: 43px;
left: 400px;
top: 759px;

background: rgba(196, 196, 196, 0.4);
border-radius: 6px;
}
#comment{
position: absolute;
width: 612px;
height: 231px;
left: 400px;
top: 817px;

background: rgba(196, 196, 196, 0.4);
border-radius: 6px;
}
.form-2{
position: absolute;
width: 612px;
height: 25px;
left: 400px;
top: 1074px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #2F4858;}
#check{
position: absolute;
width: 16px;
height: 15px;
left: 403px;
top: 1129px;

background: #E7E7E7;
border-radius: 3px;}
#Pcheck{
position: absolute;
width: 572px;
height: 38px;
left: 440px;
top: 1126px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #2F4858;}
#B3{
position: absolute;
width: 121px;
height: 62px;
left: 622.76px;
top: 1214px;

background: #C4C4C4;
border-radius: 24px;
}
.foot2{
position: absolute;
width: 1460px;
height: 290.68px;
left: 0%;
right: 0%;
top: 91%;
background: #2F4858;}

.foot-logo{
position: absolute;
left: 4.54%;
right: 82.14%;
top: 93%;
bottom: 32.18%;
}
.apks-text1{position: absolute;
left: 4.54%;
right: 82.14%;
top: 105%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;}
.facebook{position: absolute;
left: 89.39%;
right: 9.3%;
top: 102%;}
.insta{
position: absolute;
left: 92.83%;
right: 4.54%;
top: 102%;
}
.foot-idea{position: absolute;
left: 28.11%;
right: 66.91%;
top: 93%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-piesaki{position: absolute;
left: 27.89%;
right: 58.78%;
top: 94.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-uznem{position: absolute;
left: 27.89%;
right: 59%;
top: 96%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-sapnu-b{position: absolute;
left: 27.89%;
right: 63.1%;
top: 97.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-sapnu-a{position: absolute;
left: 27.89%;
right: 59%;
top: 99%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-iedvesma{position: absolute;
left: 27.89%;
right: 59%;
top: 100.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-biedriba{position: absolute;
left: 47%;
right: 31.99%;
top: 93%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;}
.foot-reg-nr{position: absolute;
left: 47%;
right: 32.58%;
top: 94.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-banka{
position: absolute;
left: 47%;
right: 32.58%;
top: 96%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;}
.foot-lv52{position: absolute;
left: 47%;
right: 32.58%;
top: 97.5%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;}
.foot-vards{position: absolute;
left: 81.99%;
right: 4.69%;
top: 93%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: right;

color: #FFFFFF;}
.foot-mail{position: absolute;
left: 66.47%;
right: 4.69%;
top: 94.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #FFFFFF;}
.foot-tel{position: absolute;

right: 4.69%;
top: 96%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: flex-end;
text-align: right;

color: #FFFFFF;}
.foot-adress{position: absolute;

right: 4.69%;
top: 97.5%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;


display: flex;
align-items: center;
text-align: right;

color: #FFFFFF;}
.foot-politika{position: absolute;
left: 81.55%;
right: 4.54%;
top: 105%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;

color: #FFFFFF;}